<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/css/app.min.css">
    <title>Math Game</title>
</head>
<body>                
    <div id="app" class="container">
        <div id="sidebar" class="side">
            <h1 id="logo">sMATH</h1>
            <div class="details">
                <p>Speed Math! Answer {{ totalProblems }} math problems as quickly as possible. Tip: Answers are always whole numbers.<br><br>
                    <strong>R - Quick Restart</strong><br>
                    <strong>Enter - Submit Answer</strong>
                </p>
                <ul>
                    <li>Checkout the code on <a href="https://github.com/wyattferguson/math-game">Github</a></li>
                    <li>Follow me on <a href="https://twitter.com/wyattferguson">Twitter</a></li>
                </ul>
            </div>
        </div>

        <div id="welcome" class="center modal" v-if="state == 1">
            <button v-on:click="startGame">New Game</button>
        </div>

        <div id="board" class="center" v-else-if="state == 2">
            <div id="problem">
                <div id="top">
                    <span>{{ partA }}</span>
                </div>
                <div id="bottom">
                    <span id="operator" v-html="operator"></span>
                    <span>{{ partB }}</span>
                </div>
                <hr></hr>
                <input v-model="userAnswer" :class="{ 'shake': onError }" ref="answerInput" type="number" id="answer" placeholder="0" maxlength="5" value="" autofocus > 
            </div>
        </div>

        <div id="winner" class="center modal" v-else-if="state == 3">
            <h1>Winner!</h1>
            <h2>Time: <span class="time">{{ time }}</span></h2>
            <button v-on:click="startGame">New Game</button>
        </div>

        <div id="controls" class="side">
            <h2 id="clock">{{ time }}</h2>
            <h3><span>{{ correct }}</span> / {{ totalProblems }} <span class="correct"> Correct</span></h3>
            <h3><span>{{ errors }}</span> <span class="errors">Errors</span></h3>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="dist/js/app.min.js"></script>