// SIMPLE GRID - SASS/SCSS

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

// fonts
$font-family: 'Open Sans', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1em;
$font-size-base: 1.2em;


// colors
$primary: #333333;
$secondary: #8E8D8A;
$highlight: #E85A4F;
$alt-highlight: #E98074;
$background: #EAE7DC;
$green: #88BDBC;
$beige: #D8C3A5;


// grid
$container-size: 96%;
$width: 96%;
$gutter: 2%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px


// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background:$background;
}

* {
  font-family: $font-family;
  color: $primary;
  line-height: $font-height;
}

// typography

h1{
  font-size: $font-size-base * 3;
}

h2 {
  font-size: $font-size-base * 2.25;
}

h3 {
  font-size: $font-size-base * 1.45;
}

h4 {
  font-size: $font-size-base * 1.25;
}

h5 {
  font-size: $font-size-base;
}

h6 {
  font-size: $font-size-base * 0.85;
}

a{
  color:$highlight;
}

ul{
  padding:10px 0 0 0;
  margin:0px;
  li{
    padding-bottom:10px;
    list-style: none;
  }
}

p {
  font-size: 1.2;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
    max-width: $container-size;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 1%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}


// Game
#app{
  #logo{
    background-color: $highlight;
    color: $background;
    text-align: center;
    padding:15px;
  }


  #errors, #error-cnt{
    color:$highlight;
  }

  .large{
    font-size: 9em;
    font-weight: 700;
  }

  #problem{
    padding-top:120px;
    width:440px;
    margin:0 auto;

    .spacer{
      width: 100px;
      float:left;
    }

    hr{
      height:10px;
      background-color: $primary;
    }

    #answer{
      text-align: right;
      font-size: 9em;
      font-weight: 700;
      width:100%;
      background-color: none;
      border:2px solid $secondary;
      color:$highlight
    }
  }
}