
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

// fonts
$font-family: 'Open Sans', Helvetica, sans-serif;
$font-size-base: 1.2em;


// colors
$primary: #333333;
$secondary: #8E8D8A;
$highlight: #E85A4F;
$alt-highlight: #E98074;
$background: #EAE7DC;
$green: #88BDBC;
$beige: #D8C3A5;


// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background:$background;
}

* {
  font-family: $font-family;
  color: $primary;
  line-height: 1em;
}

button{
  font-size: 3em;
  background-color: $green;
  padding:20px;
  box-shadow: none;
  font-weight: bold;
  border:none;

  &:hover{
    cursor: pointer;
    background-color: $highlight;
  }
}

// typography
h1{
  font-size: $font-size-base * 3;
}

h2 {
  font-size: $font-size-base * 2.25;
}

h3 {
  font-size: $font-size-base * 1.45;
}

a{
  color:$highlight;
}

ul{
  padding:10px 0 0 0;
  margin:0px;
  li{
    padding-bottom:10px;
    list-style: none;
  }
}

p {
  font-size: 1.2;
  font-weight: 200;
  line-height: 1.8;
}


// Grid
.container {
  display: flex;
  justify-content: space-between;

  .side{
    padding:0 20px;
    width:250px;
  }

  .center{
    padding-top:120px;
    width:500px;
    min-width: 500px;
  }
}


// Game
#app{
  #logo{
    background-color: $highlight;
    color: $background;
    text-align: center;
    padding:15px;
  }

  #controls{
    text-align: right;
  }

  #errors, #error-cnt{
    color:$highlight;
  }

  #welcome{

  }

  #winner{
    .time{
      color:$green;
    }
  }

  .modal{
    text-align: center;
  }

  #problem{
    margin:0 auto;
    text-align: right;

    #answer, span{
      font-size: 9em;
      font-weight: 700;
    }

    #operator{
      float:left;
    }

    hr{
      height:10px;
      background-color: $primary;
    }

    #answer{
      text-align: right;
      width:100%;
      border:2px solid $secondary;
      color:$highlight
    }
  }
}