
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

// fonts
$font-family: 'Open Sans', Helvetica, sans-serif;
$font-size-base: 1.2em;


// colors
$primary: #333333;
$secondary: #8E8D8A;
$highlight: #E85A4F;
$background: #EAE7DC;
$green: #88BDBC;


// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background:$background;
}

* {
  font-family: $font-family;
  color: $primary;
  line-height: 1em;
}

button{
  font-size: 3em;
  background-color: $green;
  padding:20px;
  box-shadow: none;
  font-weight: bold;
  border:none;

  &:hover{
    cursor: pointer;
    background-color: $highlight;
  }
}

// typography
h1{
  font-size: $font-size-base * 3;
}

h2 {
  font-size: $font-size-base * 2.25;
}

h3 {
  font-size: $font-size-base * 1.75;
}

a{
  color:$highlight;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8;
}


// Grid
.container {
  display: flex;
  justify-content: space-between;

  .side{
    padding:0 20px;
    width:250px;
  }

  .center{
    margin-top:10%;
    width:500px;
    min-width: 500px;

    h1{
      color:$highlight;

    }
  }
}


// Game
#app{
  #logo{
    background-color: $highlight;
    color: $background;
    text-align: center;
    padding:15px;
  }

  #controls{
    text-align: right;

    .correct{
      color:$green!important;
    }

    .errors{
      color:$highlight!important;
    }
  }

  #welcome, #winner{
    border:5px solid $highlight;
    padding:20px 20px 60px;
  }

  #winner{
    .time{
      color:$green;
    }
  }

  .modal{
    text-align: center;
  }

  #sidebar{
    .title{
      background-color:$highlight;
      color: $background;
      display: block;
      padding:10px;
      margin-top:30px;
    }
  }

  #problem{
    margin:0 auto;
    text-align: right;

    #answer, span{
      font-size: 9em;
      font-weight: 700;
    }

    #operator{
      float:left;
    }

    hr{
      height:10px;
      background-color: $primary;
    }

    #answer{
      text-align: right;
      width:100%;
      border:2px solid $secondary;
      color:$highlight
    }
  }
}

// animation
.shake {
  -webkit-animation: error_shake 0.4s 1 linear;
  -moz-animation: error_shake 0.4s 1 linear;
  -o-animation: error_shake 0.4s 1 linear;
  &:focus{
    outline: none !important;
    border-color: $highlight;
    box-shadow: 0 0 10px $highlight;
  }
}
@-webkit-keyframes error_shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes error_shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes error_shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}